{%extends "base/base.html"%}
{% block title %}Detalles{% endblock title %}

{% block content %}
<div class="col-md-10 offset-md-1">
    <div class="card">
        <div class="card-body">
            <table class="table table-strip" >
                <th style="text-align: center ;">Nombre</th>
                <th style="text-align: center ;">Capacidad</th>
                <th style="text-align: center ;">Disponible</th>
                <th style="text-align: center ;">Partido a disputar</th>
                <th style="text-align: center ;">Fecha</th>
                <tr>
                    <td style="text-align: center ;">{{ object.Nombre }}</th>
                    <td style="text-align: center ;">{{ object.Capacidad}}</td>
                    <td style="text-align: center ;">{{ object.Disponible}}</td>
                    <td style="text-align: center ;">{{ object.Partido_a_disputar}}</td>
                    <td style="text-align: center ;">{{ object.Fecha}}</td>
                </tr>

            </table>
            <a href="{% url 'estadios:list_estadio' %}" class = "btn btn-outline-success mb-3 form-control">Regresar</a>
        </div>
    </div>
</div>


{% endblock  %}
