{% extends 'base/base.html' %}

{% block title %}Lista de estadios{% endblock title %}

{% block content %}
<div class="col-md-10 offset-md-1">
    <div class="card">
        <div class="card-body">
            <table class="table table-strip" style="text-align: center ;">
                <th>Nombre</th>
                <th>Capacidad</th>
                <th>Disponible</th>
                <th>Partido a disputar</th>
                <th>Fecha</th>
                <th>Acciones</th>
                {% for Estadio in object_list %}
                <tr>
                    <td>{{Estadio.Nombre}}</td>
                    <td>{{Estadio.Capacidad}}</td>
                    <td>{{Estadio.Disponible}}</td>
                    <td>{{Estadio.Partido_a_disputar}}</td>
                    <td>{{Estadio.Fecha}}</td>
                    <td>
                        <a href="{% url 'estadios:detail_estadio' Estadio.pk %}" class="btn btn-outline-info">Info</a>
                        <a href="{% url 'estadios:update_estadio' Estadio.pk %}" class="btn btn-outline-warning">Actualizacion</a>
                        <a href="{% url 'estadios:delete_estadio' Estadio.pk %}" class="btn btn-outline-danger">Deshabilitar</a>
                    </td>
                </tr>    
                {% endfor %}
            </table>
            <a href= "{% url 'estadios:create_estadio' %}" class = "btn btn-outline-success mb-3 form-control">Ingresar Nuevo Estadio</a>
        </div>
    </div>
</div>

{% endblock %}