{% extends 'base/base.html' %}

{% block tittle %}Actualizacion{% endblock tittle%}

{% block content %}
<div class="col-md-10 offset-md-1">
    <div class="card">
        <div class="card-body">
            <form action="" method="post" class="form">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-outline-warning mb-3 form-control">Actualizar</button>
                <a href="{% url 'jugadores:list_jugador' %}" class="btn btn-outline-info mb-3 form-control">Cancelar</a>
            </form>
        </div>
    </div>
</div>

{% endblock  %}